@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*Aquesta es la font principal, Montserrat. Es podria haver posat a l'HTML amb un link, però m'agrada més fer-ho així*/

:root{
    --color-principal: black;
    --color-secundari: #c59d5f;
    --mida-font: 16px; /*Mida per defecte*/
    --color-fons: #f4f4f4;
    --font-principal: 'Montserrat', sans-serif; 
}

/*Eliminar el scroll horitzontal*/
html, body{
    overflow-x: hidden;
}

/*MENU*/
.menu{
    position: sticky;
    background: var(--color-fons);
    z-index: 3; /*Poso un 3 per a asegurar que quedi sempre a dalt*/
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    gap:1rem;
    padding:1rem;
    list-style: none;/*Per a quitar els punts o números de la llista,
    serveix per als ul*/
}

.menu a{
    color:black;
    text-decoration: none; /*Per a quitar el subrayat predeterminat
    i posar-lo només amb el hover, serveix sobretot per els a*/
    
}

.menu a:hover{
    text-decoration: underline; /*Per a posar la linia quan passes el cursor*/
}

/*BOTÓ RESERVA*/
.btn-reservar{
    position:fixed;
    bottom: 2rem;
    right:1rem;
    background:var(--color-secundari);
    color:rgb(17, 16, 16);
    padding:1rem;
    z-index: 3; /*Per a que estigui sempre a dalt*/
}

/* HEADER*/
header{
    position:relative;
}

header img{
    width:100%;
    opacity: 0.5;/*Per a que es vegi el text per sobre de la imatge
    ja que no m'agrada el text en blanc. Per a temes d'accesibilitat
    que es vegi bé el text es essencial*/
}

header h1{
    font-size: 4rem;
}

header p{
    font-size: 2rem;
}


.titol{
    position:absolute;
    top: 35%;
    left: 3%;
    border: 3px solid black;
}
.titol p{
    font-weight: bold; /*he de fer això per a que es vegi bé el text*/
}


/*CONTENIDORS*/
.container{
    max-width: 75rem;
    margin:auto;
    padding:2rem;
}

/*SOBRE NOSALTRES*/
.fila{
    display:flex;
    gap:2rem;
    margin:2rem 0;
}

.fila img{
    width:12rem;
    border-radius:1rem;
}


/*CARTA*/
.titol-menu{
    border:1px solid black;
    text-align:center;
    padding:1rem;
    margin:2rem 0;/*Un margin de 2 rem adalt y abaix i 0 als costats*/
}

.carta-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "menu1 cont1 cont1"
        "menu1 img1 img2"
        "menu2 cont2 cont2"
        "menu2 img3 img4";
    gap: 1rem;
}

/* ÁREAS */
.menu1 { grid-area: menu1; }
.contingut1 { grid-area: cont1; }
.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.menu2 { grid-area: menu2; }
.contingut2 { grid-area: cont2; }
.img3 {grid-area: img3;}
.img4 {grid-area: img4;}

.menu1, .menu2{
    display: flex;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
    
}


.plato {
    text-align: center;
    position: relative;
    overflow: hidden;/*Per a que el text no es vegi si es surt de l'imatge*/
}

.plato span{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block; /*Fa falta posar-lo per a que el text es centri juntament amb el right, o no posar el right i posar width 100% per a que ocupi tot l'espai*/           
    color: var(--color-principal);
    padding: 0.5rem;
    font-weight: 700; /*molt fort per a que es vegi bé*/
    /*Amb background es podria posar un fons a les lletres*/
    background-color: rgba(255, 255, 255, 0.8); /*Finalment he afegit el background color per temes d'usabilitat i he afegit transparencia per a que es vegi bé del tot*/
}

.plato img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
}


/*GALERIA*/
.galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.galeria img{
    width:calc(25% - 1rem);
    margin:0.5rem;
    border:2px solid black;
    box-sizing: border-box;
}

.galeria img:hover{
    filter:brightness(50%);
    border:3px solid red;
}

/*FORMULARI*/
form{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;
}

form h2{
    grid-column: span 2;/*Per a que el h2 del formulari ocupi tot l'espai 
    de la primera fila i el nom no es posi al costat*/
}
textarea{
    grid-column: span 2;
}

/*també es podria fer amb un grid-template-areas i definir 5 columnas (o 3 si deixem fora reserva i el botó reservar i anar posant 
elements posant el element descripcio dues vegadas a baix per a que la descripció ocupi 2 
(i els reserva també 2 vegades si els decidim deixar i no psar un div aidiconal)*/ 


/*FOOTER*/
footer{
    display:flex;
    justify-content:space-between;
    padding:1rem;
    background:var(--color-fons); 
}


footer p{
    display:inline-flex; /*Per a posar el telefon i el gmail en linia*/
    margin-right: 1rem; /*Marge entre el telefon i el mail*/
}
    

/*LOGO*/
.logo{
    width: 4rem;
    height: 4rem;
}


.material-symbols-outlined {
  vertical-align: middle;
} /*Serveix per a alinear verticalment les icones amb el text, ja que sino
el mail queda malament*/


/*--------------------------------------------*/
/*ACTIVITAT 10 MEDIA QUERIES*/


/*----------------------------------------------*/
/*Media querie de tablet 768 px*/
@media (max-width: 768px) {

    /* MENÚ */
    .menu ul {
        justify-content: center;
    }

    /* HEADER */
    header h1 {
        font-size: 2.2rem; /* Per a que el text sobre la imatge quedi centrar*/
    }

    header p {
        font-size: 1.5rem;
    }

    .titol {
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        text-align: center;
    }

    /* SOBRE NOSALTRES en 1 columna el primer i 2 el segon */
    .fila {
        flex-direction: column;
        text-align: center;
    }

    .fila img {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }

    /* CARTA en 2 columnes*/
    .carta-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "menu1 cont1"
            "img1 img2"
            "menu2 cont2"
            "img3 img4";
    }

    /* GALERIA en 2 columnes */
    .galeria img {
        width: calc(50% - 1rem);/*El mateix que a la galeria general però amb un calcul diferent*/
    }


    /* FOOTER */
    footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 0.5rem;
    }
    /* Igual que al de mobil, ocultem el logo */
    .logo {
        display: none;
    }
}


/*Media querie de mobil 576px*/
@media (max-width: 576px) {

    /* MENÚ */
    .menu ul {
        justify-content: center;
        gap: 0.5rem;
    }
 
    /* HEADER */
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    .titol h1 {
        font-size: 1.8rem; /* Per a quedi bé sobre la imatge el titol fa falta fer més petita la lletra i reduir el top */
        /*Al wireframe no surt que hi hagi d'haver el titol pero jo suposo que sí que ha d'estar, si no es faria un display none i ja*/
    }

    .titol p {
        font-size: 1.2rem; /* Més petit per a que quedi sobre la imatge*/
    }

    .titol {
        left: 50%;
        top: 20%;
        transform: translateX(-50%); /* Serveix per a que una vegada posat el titol a left que deixa l'element començant a la meitat dle contenidor, es posi l'element centrar, ja que agafa un 50% de la longitud de l'element i la tira cap enrera del contenidor. Si tinc un container de 300px
        i un element de 100 px faria 150 px cap a la esquerra, el que faria que hi hagues un margin de 150 px a l'esquerra i 50 px a la dreta, el transform agafa la meitat de l'element, 50px, i tira l'element cap enrere aquest 50px, amb loque el margin queda a 100px a cada costat, s'utilitza
        aixo per que es absolut i aquests no poden utilitzar margin i text align*/
        text-align: center;
    }

    /* SOBRE NOSALTRES */
    .fila {
        flex-direction: column;
        text-align: center;
    }

    .fila img {
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    /* CARTA en 1 columna perque aixi ho demana el wireframe */
    .carta-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "menu1"
            "cont1"
            "img1"
            "img2"
            "menu2"
            "cont2"
            "img3"
            "img4";
    }

    /* GALERIA 1 columna */
    .galeria img {
        width: calc(100%);/*Per a que cada imatge ocupi el 100%*/
    }

    /*Com el formulari el decidiem nosaltres supooso que ara també i llavors no canvio res d'això*/


    /* FOOTER */
    footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 0.5rem;
    }

    /*Al wireframe no surt el logo ni a tablet ni a movil i per tant l'elimino (o no el mostro més concretament) ho faig amb display none perquè amb hidden no és una bona pràctica*/
    .logo {
        display: none;
    }
}





